## Comparison of MSE for the two best models and their Ensemble

### Package Importation

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

### Dataset (Predictions) Importation

In [3]:
predictions = pd.read_excel('En.xlsx')

In [4]:
predictions.head()

,Date,Forecast Leg (k),Actual Value,"ARIMA(1,1,3)","ARIMA(2,1,1)",Ensemble Prediction
0,2012,1,7.97,7.76,7.86,7.810
1,2013,2,7.61,7.45,7.57,7.510
2,2014,3,6.18,7.15,7.31,7.230
3,2015,4,5.38,6.92,7.10,7.010
4,2016,5,4.90,6.74,6.93,6.835

### MSE Calculation and Comparison

In [6]:
# Calculation of Mean Squared Error (MSE)

print('Mean Squared Error (ARIMA(1,1,3)): ',mean_squared_error(predictions['Actual Value'],predictions['ARIMA(1,1,3)']))
print('Mean Squared Error (ARIMA(2,1,1)): ',mean_squared_error(predictions['Actual Value'],predictions['ARIMA(2,1,1)']))
print('Mean Squared Error (Ensemble): ',mean_squared_error(predictions['Actual Value'],predictions['Ensemble Prediction']))

Mean Squared Error (ARIMA(1,1,3)):  1.35356
Mean Squared Error (ARIMA(2,1,1)):  1.6739799999999991
Mean Squared Error (Ensemble):  1.507845